header {
    background: #555;
    border-radius: 10px;
    padding: 20px 50px;
}
body {
    background: linear-gradient(90deg, #ffffa6, #9effa6);
}
.logo {
    color: white;
    font-family: monaco, consolas, arial;
    font-size: 40px;
}
html {
    cursor: default;
}
.btn {
    background: rgb(255, 235, 52);
    color: #333;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 30px;
    padding: 5px 20px;
    float: right;
    margin-top: 5px;
    transition: .2s;
}
.btn:hover {
    box-shadow: 0 0 15px rgb(255, 235, 52);
}
.btn:active {
    color: rgb(255, 235, 52);
    background: none;
}
.elements {
    margin: 20px;
    display: inline-flex;
}
.element {
    background: white;
    width: 100px;
    height: 100px;
    border: 5px solid #555;
    border-radius: 10px;
    margin: 10px;
    position: relative;
    transition: .2s;
}
.element:hover {
    box-shadow: 0 0 20px #333;
}
img {
    width: 50%;
    margin: 32% 37%;
}
.btn-1 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    opacity: 0;
}
.cur {
    cursor: default
}
.cur-1 {
    cursor: url("Cursor1.cur"), pointer
}
.cur-2 {
    cursor: url("Cursor2.cur"), pointer
}
.cur-3 {
    cursor: url("Cursor3.cur"), pointer
}
.cur-4 {
    cursor: url("Cursor4.cur"), pointer
}
.ele-4 {
    margin: 30% 28%;
}